<div class="container">
    <div>
        <label>Nhập</label>
        <!--<input class="ml-3" (keyup)="inputSomethings($event)"/>-->
        <input class="ml-3" [(ngModel)]="data" #txtData />
    </div>

    <div class="mt-3">
        <div>
            <div [style.color]="data.length % 2 === 0 ? 'red' : 'black'">Xuất</div>
            <div>{{ data }}</div>
            <code>{{ txtData.value | json }}</code>
        </div>
    </div>

    <div [class]="'circle'"></div>
    <!--<div [class.square]="''"></div>-->
</div>
